/**
 * Name: styles.css
 * Date: Tue 5 May 2015
 * Author: Patricia Losada Estrella
 * Creative Commons License <http://creativecommons.org/licenses/by-sa/3.0/>
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECCEF5;
}

#container {
    margin: 0 auto;
    width: 960px;
}

/***** ----- Header ----- *****/

header {
    background-color: #fff;
    height: 50px;
    width: 960px;
}

header ul {
    float: left;
    margin: 15px 0 0 15px;
}

header li {
    border-right: 1px solid #000;
    color: #000;
    float: left;
    font-family: Arial;
    list-style-type: none;
}

header li:last-child {
    border-right: 0px;
}

header a {
    color: #000;
    float: left;
    padding: 0 15px 0 15px;
    text-decoration: none;
}

a:hover {
    color: #8A0886;
}

header img {
    background-color: #fff;
    float: right;
    padding: 15px 15px 0 0;
}


.banner {
    margin-top: 20px;
}
